[core]
  excludesfile = ~/.gitignore
  editor = nvim
  ignorecase = false

[push]
  default = simple

[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
  ui = auto

[alias]
  # Interactive add using fzf
  a = "!f() { \
    changes=$(git status --short); \
    [ -z \"$changes\" ] && echo \"No changes to add.\" && return; \
    echo \"$changes\" | fzf -m | awk '{print $2}' | xargs -r git add; \
  }; f"

  # Push/pull current branch
  ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
  pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
  st = status

  # Interactive diff using fzf
  df = "!f() { \
    commits=$(git log --pretty=format:\"%h %s\"); \
    [ -z \"$commits\" ] && echo \"No commits found.\" && return; \
    selected=$(echo \"$commits\" | fzf -m --ansi --preview 'git show --color=always --stat $(echo {} | awk \"{print \\$1}\")'); \
    echo \"$selected\" | awk '{print $1}' | xargs -r -I {} git show --color=always {}; \
  }; f"

  # Pretty logs (non-interactive)
  hist = log --pretty=format:\"%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%C(reset)\" --graph --date=relative --decorate --all
  llog = log --graph --name-status --pretty=format:\"%C(red)%h %C(reset)(%cd) %C(green)%an %Creset%s %C(yellow)%d%Creset\" --date=relative

  # Search & diff commits interactively
  find = "!f() { \
    if [ $# -eq 0 ]; then \
      commits=$(git log --pretty=format:\"%h %cd [%cn] %s%d\" --date=relative); \
    else \
      commits=$(git log --pretty=format:\"%h %cd [%cn] %s%d\" --date=relative -S\"$*\"); \
    fi; \
    [ -z \"$commits\" ] && echo \"No matching commits.\" && return; \
    echo \"$commits\" | fzf -m | awk '{print $1}' | xargs -r -I {} git show --color=always {}; \
  }; f"


  # edit conflicted file on merge
  edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"

  # add conflicted file on merge
  add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"

[hub]
  protocol = https

[github]
  user = sheikhlimon

[diff]
  tool = nvimdiff

[difftool "nvimdiff"]
  cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
  path = 

[mergetool "nvimdiff"]
  cmd = nvim -d \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
  process = git-lfs filter-process

[user]
  email = sheikhlimon404@gmail.com
  name = sheikhlimon
  signingkey = /home/limon/.ssh/id_ed25519

[credential "https://github.com"]
  helper = 
  helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
  helper = 
  helper = !/usr/bin/gh auth git-credential

[init]
  defaultBranch = main

[gpg]
  format = ssh

[commit]
  gpgsign = true

